In [45]:
# Functions for Substring Operations: Adjusting Comment Character Length to
# 80 Characters

standard_comment_length <- function(cmt) {
    cmt <- str_trim(cmt)
    trail_under_score <-  "----------------------------------------------------------------------"
    full_comment <- paste("# ", cmt, string2)
    standardized_cmt <- str_sub(full_comment, 1, 80)
    return(standardized_cmt)
}

standard_comment_length('View the structure of the dataset')

[1] "#  View the structure of the dataset -------------------------------------------"

In [33]:
# FITE7410 Financial Fraud Analytics First Semester, 2025-2026 -----------------
# Assignnment 1 Exploratory Data Analysis (EDA)
# Student: Choi Chi For 3036384024
# Due Date: 19 Oct, 2025 (Sun) 23:59
# Objective of this assignment:
# 1. Perform data cleaning and preparation
# 2. Explore and visualize the data to identify patterns and trends
# 3. Engineer new features based on domain knowledge or insights from EDA
# 4. Prepare a report summarizing the findings from EDA

# Load necessary libraries -----------------------------------------------------
.libPaths(Sys.getenv("R_LIBS_USER"))
dir.create(Sys.getenv("R_LIBS_USER"), recursive = TRUE, showWarnings = FALSE)
install.packages("dplyr",  lib = Sys.getenv("R_LIBS_USER"))
install.packages("tidyr",  lib = Sys.getenv("R_LIBS_USER"))
install.packages("ggplot2",  lib = Sys.getenv("R_LIBS_USER"))
install.packages("corrplot",  lib = Sys.getenv("R_LIBS_USER"))
install.packages("tidyverse",  lib = Sys.getenv("R_LIBS_USER"))

# Load libraries with suppressed startup messages
suppressPackageStartupMessages({
  library(dplyr)
  library(tidyr)
  library(ggplot2)
  library(corrplot)
  library(tidyverse)
})

cat("✓ All packages loaded successfully!")

✓ All packages loaded successfully!

In [ ]:
#  Load data -------------------------------------------------------------------
tryCatch({
  data <- read.csv("A1_data.csv")
}, warning = function(w) {
  print(w)
}, error = function(e) {
  print(e)
}, finally = {
print("Data loading attempt finished.")
})

tidy_data <- tibble(data)

#  View the structure of the dataset -------------------------------------------
str(tidy_data)

[1] "Data loading attempt finished."
tibble [100,000 × 101] (S3: tbl_df/tbl/data.frame)
 $ TxnID        : int [1:100000] 2987004 2987011 2987016 2987022 2987038 2987040 2987048 2987057 2987069 2987070 ...
 $ isFraud      : int [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ TxnDT        : int [1:100000] 86506 86555 86620 86786 87172 87209 87317 87445 87725 87735 ...
 $ TxnDTHour    : int [1:100000] 24 24 24 24 24 24 24 24 24 24 ...
 $ TxnAmt       : num [1:100000] 82.9 27.3 49.7 82.9 41.4 ...
 $ ProductCD    : chr [1:100000] "TP" "LY" "TP" "TP" ...
 $ addr1        : int [1:100000] 402 NA 152 281 312 NA NA 186 312 307 ...
 $ addr2        : int [1:100000] 73 NA 73 73 73 NA NA 73 73 73 ...
 $ dist1        : logi [1:100000] NA NA NA NA NA NA ...
 $ dist2        : int [1:100000] NA 30 NA NA 98 NA NA NA 84 NA ...
 $ card1        : int [1:100000] 4497 4461 1790 1724 5463 13329 15885 11839 12866 3682 ...
 $ card2        : int [1:100000] 514 375 555 583 399 569 545 490 303 264 ...
 $ card3        : int [1:100000] 150 185 150 150 150 117 185 150 150 150 ...
 $ card4        : chr [1:100000] "mastercard" "mastercard" "visa" "visa" ...
 $ card5        : int [1:100000] 102 224 226 226 137 226 138 226 226 162 ...
 $ card6        : chr [1:100000] "credit" "debit" "debit" "credit" ...
 $ P_emaildomain: chr [1:100000] "Google" "Microsoft" "AOL" "Google" ...
 $ R_emaildomain: chr [1:100000] "" "Microsoft" "" "" ...
 $ C1           : int [1:100000] 1 1 1 1 1 2 1 1 7 1 ...
 $ C2           : int [1:100000] 1 1 1 1 2 5 1 1 1 1 ...
 $ C3           : int [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ C4           : int [1:100000] 0 1 0 0 1 1 1 0 3 0 ...
 $ C5           : int [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ C6           : int [1:100000] 1 1 1 1 0 1 1 1 0 1 ...
 $ C7           : int [1:100000] 0 1 0 0 0 1 1 0 0 0 ...
 $ C8           : int [1:100000] 1 1 1 0 6 1 1 1 5 1 ...
 $ C9           : int [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ C10          : int [1:100000] 1 1 1 0 93 1 1 1 11 1 ...
 $ C11          : int [1:100000] 1 1 1 1 1 2 1 1 1 1 ...
 $ C12          : int [1:100000] 0 1 0 0 0 2 1 0 0 0 ...
 $ C13          : int [1:100000] 1 1 1 1 96 3 1 1 12 1 ...
 $ C14          : int [1:100000] 1 1 1 1 1 2 1 1 6 1 ...
 $ D1           : int [1:100000] 0 0 0 0 542 0 0 0 0 0 ...
 $ D2           : int [1:100000] NA NA NA NA 542 NA NA NA NA NA ...
 $ D3           : int [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ D4           : int [1:100000] NA 0 NA NA NA 0 0 0 NA NA ...
 $ D5           : int [1:100000] NA NA NA NA NA 0 NA NA NA NA ...
 $ D6           : int [1:100000] NA 0 NA NA 537 0 0 NA 216 NA ...
 $ D7           : int [1:100000] NA NA NA NA 4 0 NA NA 4 NA ...
 $ D8           : num [1:100000] NA NA 26 NA 29 83 NA NA 126 NA ...
 $ D9           : num [1:100000] NA NA 0 NA 0 0 NA NA 0 NA ...
 $ D10          : int [1:100000] NA 0 NA NA 520 0 0 NA 284 NA ...
 $ D11          : logi [1:100000] NA NA NA NA NA NA ...
 $ D12          : int [1:100000] NA 0 NA NA NA 0 0 NA NA NA ...
 $ D13          : int [1:100000] NA 0 NA NA NA 0 0 NA NA NA ...
 $ D14          : int [1:100000] NA 0 NA NA NA 0 0 NA NA NA ...
 $ D15          : int [1:100000] NA 0 NA NA 541 0 0 0 284 NA ...
 $ M1           : logi [1:100000] NA NA NA NA NA NA ...
 $ M2           : logi [1:100000] NA NA NA NA NA NA ...
 $ M3           : logi [1:100000] NA NA NA NA NA NA ...
 $ M4           : chr [1:100000] "" "M0" "" "" ...
 $ M5           : logi [1:100000] NA NA NA NA NA NA ...
 $ M6           : logi [1:100000] NA NA NA NA NA NA ...
 $ M7           : logi [1:100000] NA NA NA NA NA NA ...
 $ M8           : logi [1:100000] NA NA NA NA NA NA ...
 $ M9           : logi [1:100000] NA NA NA NA NA NA ...
 $ V310         : num [1:100000] 0 0 0 0 145 0 0 0 0 0 ...
 $ V311         : num [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ V312         : num [1:100000] 0 0 0 0 25 0 0 0 0 0 ...
 $ V313         : num [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ V314         : num [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ id_01        : int [1:100000] 0 -5 0 -15 0 -10 -5 0 0 0 ...
 $ id_02        : int [1:100000] 70787 221832 7460 NA 31964 116098 257037 88525 69542 132356 ...
 $ id_03        : int [1:100000] NA NA 0 NA 0 0 NA NA 0 NA ...
 $ id_04        : int [1:100000] NA NA 0 NA 0 0 NA NA 0 NA ...
 $ id_05        : int [1:100000] NA 0 1 NA 0 0 0 NA 2 1 ...
 $ id_06        : int [1:100000] NA -6 0 NA -10 0 0 NA -4 -6 ...
 $ id_07        : int [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ id_08        : int [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ id_09        : int [1:100000] NA NA 0 NA 0 0 NA NA 0 NA ...
 $ id_10        : int [1:100000] NA NA 0 NA 0 0 NA NA 0 NA ...
 $ id_11        : num [1:100000] 100 100 100 NA 100 100 100 100 100 100 ...
 $ id_12        : chr [1:100000] "NotFound" "NotFound" "NotFound" "NotFound" ...
 $ id_13        : int [1:100000] NA 52 NA 14 NA 52 52 NA NA NA ...
 $ id_14        : int [1:100000] -480 NA -300 NA -300 NA NA -300 -300 -300 ...
 $ id_15        : chr [1:100000] "New" "New" "Found" "" ...
 $ id_16        : chr [1:100000] "NotFound" "NotFound" "Found" "" ...
 $ id_17        : int [1:100000] 166 225 166 NA 166 121 225 166 166 166 ...
 $ id_18        : int [1:100000] NA NA 15 NA 15 NA NA NA 15 13 ...
 $ id_19        : int [1:100000] 542 176 529 NA 352 410 484 278 352 529 ...
 $ id_20        : int [1:100000] 144 507 575 NA 533 142 507 600 533 549 ...
 $ id_21        : int [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ id_22        : int [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ id_23        : chr [1:100000] "" "" "" "" ...
 $ id_24        : int [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ id_25        : int [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ id_26        : int [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ id_27        : chr [1:100000] "" "" "" "" ...
 $ id_28        : chr [1:100000] "New" "New" "Found" "" ...
 $ id_29        : chr [1:100000] "NotFound" "NotFound" "Found" "" ...
 $ id_30        : chr [1:100000] "Android" "" "Mac" "" ...
 $ id_31        : chr [1:100000] "samsung browser 6.2" "chrome 62.0" "chrome 62.0" "" ...
 $ id_32        : int [1:100000] 32 NA 24 NA 32 NA NA 32 32 32 ...
 $ id_33        : chr [1:100000] "2220x1080" "" "1280x800" "" ...
 $ id_34        : chr [1:100000] "match_status:2" "" "match_status:2" "" ...
 $ id_35        : logi [1:100000] TRUE FALSE TRUE NA TRUE FALSE ...
 $ id_36        : logi [1:100000] FALSE FALSE FALSE NA FALSE FALSE ...
 $ id_37        : logi [1:100000] TRUE TRUE TRUE NA TRUE TRUE ...
 $ id_38        : logi [1:100000] TRUE TRUE TRUE NA TRUE TRUE ...
  [list output truncated]

In [55]:
# Count column names of the dataset ---------------------------------------------
ncol(tidy_data)

[1] 101

In [47]:
#  View summary statistics of the dataset --------------------------------------
summary(tidy_data)

     TxnID            isFraud           TxnDT            TxnDTHour
 Min.   :2987004   Min.   :0.0000   Min.   :   86506   Min.   :  24
 1st Qu.:3078716   1st Qu.:0.0000   1st Qu.: 1900286   1st Qu.: 527
 Median :3203512   Median :0.0000   Median : 5031202   Median :1397
 Mean   :3238037   Mean   :0.1132   Mean   : 6209720   Mean   :1724
 3rd Qu.:3393812   3rd Qu.:0.0000   3rd Qu.:10272711   3rd Qu.:2853
 Max.   :3577534   Max.   :1.0000   Max.   :15811030   Max.   :4391

     TxnAmt           ProductCD             addr1           addr2
 Min.   :   0.3515   Length:100000      Min.   : 82.0   Min.   : 18.00
 1st Qu.:  42.0955   Class :character   1st Qu.:186.0   1st Qu.: 73.00
 Median :  82.9000   Mode  :character   Median :281.0   Median : 73.00
 Mean   : 138.7709                      Mean   :278.6   Mean   : 73.01
 3rd Qu.: 165.9000                      3rd Qu.:312.0   3rd Qu.: 73.00
 Max.   :2987.9000                      Max.   :522.0   Max.   :110.00
                                        NA's   :42881   NA's   :42881
  dist1             dist2             card1           card2
 Mode:logical   Min.   :    0.0   Min.   : 1000   Min.   :100.0
 NA's:100000    1st Qu.:    7.0   1st Qu.: 5666   1st Qu.:264.0
                Median :   38.0   Median : 9633   Median :408.0
                Mean   :  230.5   Mean   : 9849   Mean   :389.7
                3rd Qu.:  207.0   3rd Qu.:15063   3rd Qu.:545.0
                Max.   :11623.0   Max.   :18396   Max.   :600.0
                NA's   :73694                     NA's   :688
     card3          card4               card5          card6
 Min.   :100.0   Length:100000      Min.   :100.0   Length:100000
 1st Qu.:150.0   Class :character   1st Qu.:138.0   Class :character
 Median :150.0   Mode  :character   Median :224.0   Mode  :character
 Mean   :162.1                      Mean   :190.7
 3rd Qu.:185.0                      3rd Qu.:226.0
 Max.   :231.0                      Max.   :237.0
 NA's   :115                        NA's   :660
 P_emaildomain      R_emaildomain            C1                C2
 Length:100000      Length:100000      Min.   :   0.00   Min.   :   0.00
 Class :character   Class :character   1st Qu.:   1.00   1st Qu.:   1.00
 Mode  :character   Mode  :character   Median :   1.00   Median :   1.00
                                       Mean   :  29.12   Mean   :  36.08
                                       3rd Qu.:   2.00   3rd Qu.:   2.00
                                       Max.   :4684.00   Max.   :5691.00

       C3                 C4                C5          C6
 Min.   : 0.00000   Min.   :   0.00   Min.   :0   Min.   :   0.00
 1st Qu.: 0.00000   1st Qu.:   1.00   1st Qu.:0   1st Qu.:   1.00
 Median : 0.00000   Median :   1.00   Median :0   Median :   1.00
 Mean   : 0.02083   Mean   :  16.15   Mean   :0   Mean   :  16.13
 3rd Qu.: 0.00000   3rd Qu.:   1.00   3rd Qu.:0   3rd Qu.:   1.00
 Max.   :23.00000   Max.   :2252.00   Max.   :0   Max.   :2252.00

       C7                C8                C9         C10
 Min.   :   0.00   Min.   :   0.00   Min.   :0   Min.   :   0.00
 1st Qu.:   0.00   1st Qu.:   1.00   1st Qu.:0   1st Qu.:   1.00
 Median :   0.00   Median :   1.00   Median :0   Median :   1.00
 Mean   :  10.93   Mean   :  20.17   Mean   :0   Mean   :  20.42
 3rd Qu.:   1.00   3rd Qu.:   2.00   3rd Qu.:0   3rd Qu.:   2.00
 Max.   :2254.00   Max.   :3330.00   Max.   :0   Max.   :3256.00

      C11              C12              C13               C14
 Min.   :   0.0   Min.   :   0.0   Min.   :   0.00   Min.   :   0.00
 1st Qu.:   1.0   1st Qu.:   0.0   1st Qu.:   1.00   1st Qu.:   1.00
 Median :   1.0   Median :   0.0   Median :   1.00   Median :   1.00
 Mean   :  21.2   Mean   :  15.5   Mean   :  20.93   Mean   :  10.77
 3rd Qu.:   1.0   3rd Qu.:   1.0   3rd Qu.:   2.00   3rd Qu.:   1.00
 Max.   :3187.0   Max.   :3187.0   Max.   :2917.00   Max.   :1428.00

       D1               D2              D3               D4
 Min.   :  0.00   Min.   :  0.0   Min.   :  0.00   Min.   :-74.00
 1st Qu.:  0.00   1st Qu.:  2.0   1st Qu.:  0.00   1st Qu.:  0.00
 Median :  0.00   Median : 36.0   Median :  1.00   Median :  0.00
 Mean   : 28.83   Mean   :121.3   Mean   : 34.78   Mean   : 59.89
 3rd Qu.:  0.00   3rd Qu.:203.0   3rd Qu.: 16.00   3rd Qu.: 16.00
 Max.   :640.00   Max.   :640.0   Max.   :819.00   Max.   :864.00
 NA's   :155      NA's   :78733   NA's   :79692    NA's   :54271
       D5              D6              D7               D8
 Min.   :  0.0   Min.   :-74     Min.   :  0.00   Min.   :   0.00
 1st Qu.:  0.0   1st Qu.:  0     1st Qu.:  0.00   1st Qu.:   0.96
 Median :  0.0   Median :  0     Median :  0.00   Median :  33.71
 Mean   : 43.8   Mean   : 69     Mean   : 39.23   Mean   : 141.36
 3rd Qu.: 17.0   3rd Qu.: 39     3rd Qu.: 14.00   3rd Qu.: 178.75
 Max.   :775.0   Max.   :873     Max.   :843.00   Max.   :1517.83
 NA's   :76124   NA's   :52588   NA's   :74148    NA's   :47606
       D9             D10           D11               D12
 Min.   :0.00    Min.   :  0.00   Mode:logical   Min.   :-74.00
 1st Qu.:0.21    1st Qu.:  0.00   NA's:100000    1st Qu.:  0.00
 Median :0.67    Median :  0.00                  Median :  0.00
 Mean   :0.56    Mean   : 21.68                  Mean   : 52.88
 3rd Qu.:0.83    3rd Qu.:  0.00                  3rd Qu.: 13.00
 Max.   :0.96    Max.   :866.00                  Max.   :648.00
 NA's   :47606   NA's   :51253                   NA's   :58199
      D13              D14              D15            M1
 Min.   :  0.00   Min.   :-193.0   Min.   :-74.00   Mode:logical
 1st Qu.:  0.00   1st Qu.:   0.0   1st Qu.:  0.00   NA's:100000
 Median :  0.00   Median :   0.0   Median :  0.00
 Mean   : 17.26   Mean   :  57.5   Mean   : 52.79
 3rd Qu.:  0.00   3rd Qu.:   2.0   3rd Qu.:  5.00
 Max.   :847.00   Max.   : 878.0   Max.   :878.00
 NA's   :56376    NA's   :56054    NA's   :51915
    M2             M3               M4               M5             M6
 Mode:logical   Mode:logical   Length:100000      Mode:logical   Mode:logical
 NA's:100000    NA's:100000    Class :character   NA's:100000    NA's:100000
                               Mode  :character




    M7             M8             M9               V310
 Mode:logical   Mode:logical   Mode:logical   Min.   :    0.00
 NA's:100000    NA's:100000    NA's:100000    1st Qu.:    0.00
                                              Median :    0.00
                                              Mean   :   35.91
                                              3rd Qu.:    0.00
                                              Max.   :55125.00
                                              NA's   :1
      V311               V312               V313               V314
 Min.   :    0.00   Min.   :    0.00   Min.   :   0.000   Min.   :   0.00
 1st Qu.:    0.00   1st Qu.:    0.00   1st Qu.:   0.000   1st Qu.:   0.00
 Median :    0.00   Median :    0.00   Median :   0.000   Median :   0.00
 Mean   :    4.71   Mean   :   18.04   Mean   :   7.972   Mean   :  15.99
 3rd Qu.:    0.00   3rd Qu.:    0.00   3rd Qu.:   0.000   3rd Qu.:   0.00
 Max.   :55125.00   Max.   :55125.00   Max.   :2000.000   Max.   :2250.00
 NA's   :1          NA's   :1          NA's   :155        NA's   :155
     id_01             id_02            id_03            id_04
 Min.   :-100.00   Min.   :     1   Min.   :-13.00   Min.   :-28.00
 1st Qu.: -10.00   1st Qu.: 68568   1st Qu.:  0.00   1st Qu.:  0.00
 Median :  -5.00   Median :126869   Median :  0.00   Median :  0.00
 Mean   : -10.41   Mean   :175813   Mean   :  0.06   Mean   : -0.07
 3rd Qu.:  -5.00   3rd Qu.:229899   3rd Qu.:  0.00   3rd Qu.:  0.00
 Max.   :   0.00   Max.   :999595   Max.   : 10.00   Max.   :  0.00
                   NA's   :2276     NA's   :53566    NA's   :53566
     id_05             id_06             id_07            id_08
 Min.   :-72.000   Min.   :-100.00   Min.   :-46.00   Min.   :-100.00
 1st Qu.:  0.000   1st Qu.:  -6.00   1st Qu.:  4.00   1st Qu.: -48.00
 Median :  0.000   Median :   0.00   Median : 14.00   Median : -34.00
 Mean   :  1.623   Mean   :  -6.82   Mean   : 13.25   Mean   : -38.76
 3rd Qu.:  1.000   3rd Qu.:   0.00   3rd Qu.: 22.00   3rd Qu.: -23.00
 Max.   : 52.000   Max.   :   0.00   Max.   : 61.00   Max.   :   0.00
 NA's   :5033      NA's   :5033      NA's   :96414    NA's   :96414
     id_09           id_10            id_11           id_12
 Min.   :-36.0   Min.   :-100.0   Min.   : 90.00   Length:100000
 1st Qu.:  0.0   1st Qu.:   0.0   1st Qu.:100.00   Class :character
 Median :  0.0   Median :   0.0   Median :100.00   Mode  :character
 Mean   :  0.1   Mean   :  -0.3   Mean   : 99.75
 3rd Qu.:  0.0   3rd Qu.:   0.0   3rd Qu.:100.00
 Max.   : 25.0   Max.   :   0.0   Max.   :100.00
 NA's   :47606   NA's   :47606    NA's   :2203
     id_13           id_14           id_15              id_16
 Min.   :10.00   Min.   :-660.0   Length:100000      Length:100000
 1st Qu.:49.00   1st Qu.:-360.0   Class :character   Class :character
 Median :52.00   Median :-300.0   Mode  :character   Mode  :character
 Mean   :48.03   Mean   :-343.8
 3rd Qu.:52.00   3rd Qu.:-300.0
 Max.   :64.00   Max.   : 720.0
 NA's   :11528   NA's   :45478
     id_17           id_18           id_19           id_20
 Min.   :100.0   Min.   :10.00   Min.   :100.0   Min.   :100.0
 1st Qu.:166.0   1st Qu.:13.00   1st Qu.:266.0   1st Qu.:266.0
 Median :166.0   Median :15.00   Median :339.0   Median :472.0
 Mean   :190.1   Mean   :14.24   Mean   :352.4   Mean   :405.2
 3rd Qu.:225.0   3rd Qu.:15.00   3rd Qu.:427.0   3rd Qu.:533.0
 Max.   :229.0   Max.   :29.00   Max.   :671.0   Max.   :660.0
 NA's   :3337    NA's   :68424   NA's   :3374    NA's   :3415
     id_21           id_22          id_23               id_24
 Min.   :100.0   Min.   :12.0    Length:100000      Min.   :11.00
 1st Qu.:252.0   1st Qu.:14.0    Class :character   1st Qu.:11.00
 Median :252.0   Median :14.0    Mode  :character   Median :11.00
 Mean   :369.1   Mean   :16.1                       Mean   :12.79
 3rd Qu.:489.5   3rd Qu.:14.0                       3rd Qu.:15.00
 Max.   :854.0   Max.   :44.0                       Max.   :26.00
 NA's   :96409   NA's   :96405                      NA's   :96683
     id_25           id_26          id_27              id_28
 Min.   :100.0   Min.   :100.0   Length:100000      Length:100000
 1st Qu.:321.0   1st Qu.:119.0   Class :character   Class :character
 Median :321.0   Median :149.0   Mode  :character   Mode  :character
 Mean   :329.6   Mean   :149.6
 3rd Qu.:371.0   3rd Qu.:169.0
 Max.   :548.0   Max.   :216.0
 NA's   :96434   NA's   :96410
    id_29              id_30              id_31               id_32
 Length:100000      Length:100000      Length:100000      Min.   : 0.00
 Class :character   Class :character   Class :character   1st Qu.:24.00
 Mode  :character   Mode  :character   Mode  :character   Median :24.00
                                                          Mean   :26.52
                                                          3rd Qu.:32.00
                                                          Max.   :32.00
                                                          NA's   :47177
    id_33              id_34             id_35           id_36
 Length:100000      Length:100000      Mode :logical   Mode :logical
 Class :character   Class :character   FALSE:44814     FALSE:93074
 Mode  :character   Mode  :character   TRUE :52990     TRUE :4730
                                       NA's :2196      NA's :2196



   id_37           id_38           DevType            DevInfo
 Mode :logical   Mode :logical   Length:100000      Length:100000
 FALSE:20964     FALSE:51740     Class :character   Class :character
 TRUE :76840     TRUE :46064     Mode  :character   Mode  :character
 NA's :2196      NA's :2196